/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

header {
  background: url("../assets/img/bg_top.jpg") center/cover fixed;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header h1 {
  z-index: 1;
  text-transform: uppercase;
  font-size: 4rem;
  flex-basis: 15%;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0.3ex;
}
header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.top {
  display: flex;
  position: absolute;
  top: 2.5rem;
  left: 0;
  z-index: 1;
  width: 100%;
}
.top .number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 138px;
  position: absolute;
  right: 0;
  top: 0.2rem;
  flex-basis: 33%;
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
  background-color: white;
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s;
}
.top .number::after {
  content: "";
  width: 5%;
  height: 10%;
  position: absolute;
  background-color: yellow;
  right: 0;
  bottom: 0;
  transition: 0.5s;
}

.logo {
  flex-basis: 33%;
  margin-left: 1rem;
  padding-right: 2rem;
  border-right: 1px solid white;
}

nav {
  display: none;
}
nav .link {
  transition: 0.5s;
  vertical-align: 10px;
}

.site-container {
  max-width: 90%;
}

.top-center {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 3rem;
  font-style: italic;
  padding-top: 6rem;
}

.bottom-center {
  padding-top: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bottom-center .center-left {
  width: 90%;
}
.bottom-center .center-left img {
  border: 5px solid black;
  border-radius: 3px;
  width: 100%;
  transition: 0.5s;
}
.bottom-center .center-left h2 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.bottom-center .center-left span {
  font-size: 1.6rem;
}
.bottom-center .center-center {
  width: 90%;
  position: relative;
  margin-top: 5rem;
}
.bottom-center .center-center .stripe {
  border: 8px solid black;
  border-radius: 5px;
  position: relative;
  margin-top: 4rem;
}
.bottom-center .center-center .stripe .material-icons {
  position: absolute;
  background-color: white;
  border: 14px solid black;
  border-radius: 5px;
  color: red;
  right: -8px;
  top: -35px;
  font-size: 3rem;
}
.bottom-center .center-center h2 {
  font-size: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.bottom-center .center-center span {
  font-size: 1.6rem;
}
.bottom-center .center-right {
  width: 90%;
  margin-bottom: 5rem;
}
.bottom-center .center-right img {
  border: 5px solid black;
  border-radius: 3px;
  width: 100%;
  margin-top: 5rem;
  transition: 0.5s;
}
.bottom-center .center-right h2 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.bottom-center .center-right span {
  font-size: 1.6rem;
}

.center {
  background: url("../assets/img/bg_middle.jpg") center/cover fixed;
  min-height: 250px;
  position: relative;
}
.center::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.center div {
  padding-top: 3rem;
  position: absolute;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  color: white;
}
.center div h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}
.center div p {
  font-size: 1.6rem;
}

.cars {
  width: 90%;
  margin: 0 auto;
  padding-top: 5rem;
  min-height: 50vh;
  padding-bottom: 5rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
}

.container {
  position: relative;
  margin-bottom: 3rem;
}

.img-gallery {
  width: 100%;
  display: block;
  border: 5px solid black;
  border-radius: 5px;
}

.car-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  color: white;
  transition: 0.5s ease;
  cursor: pointer;
}
.car-info span:nth-of-type(1) {
  display: block;
  padding-top: 30%;
  border: 5px solid black;
  border-radius: 6px;
  height: 90%;
  font-size: 3rem;
}
.car-info span:nth-of-type(2) {
  display: inline-block;
  width: 49%;
  height: 10%;
  border-right: 5px solid black;
  padding-top: 4px;
}
.car-info span:nth-of-type(3) {
  display: inline-block;
  width: 50%;
  height: 10%;
}

.contact {
  display: flex;
  min-height: 100vh;
}

.left-c {
  background: url("../assets/img/bg_contact.jpg") center/cover fixed;
  width: 40%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
}

.blackout {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}

.right-c {
  width: 60%;
}
.right-c h2 {
  text-align: center;
  padding-top: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-info {
  font-size: 1.6rem;
  line-height: 3rem;
  z-index: 1;
  padding-left: 0.5rem;
}
.contact-info span {
  display: inline-block;
  vertical-align: -5px;
}
.contact-info .p {
  display: inline-block;
}
.contact-info .p-info {
  color: #abdbe3;
}

.form {
  margin: 0 auto;
  width: 90%;
}
.form__label {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-family: inherit;
}
.form__input {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #ede8e8;
  margin-bottom: 1.6rem;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.6rem;
}
.form__input:focus {
  background-color: #fef9f9;
}
.form__input--text {
  width: 100%;
  min-height: 25vh;
  margin-bottom: 1.6rem;
  background-color: #ede8e8;
  border: 1px solid black;
  border-radius: 5px;
  resize: none;
  font-size: 1.6rem;
  font-family: inherit;
}
.form__input--text:focus {
  background-color: #fef9f9;
}
.form__button {
  font-family: inherit;
  width: 100%;
  height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  transition-duration: 0.5s;
}
.form__button:hover {
  background-color: rgb(29, 29, 29);
}

@media screen and (min-width: 900px) {
  .top .number {
    margin-right: 12rem;
  }
  .top .number:hover::after {
    width: 100%;
    height: 100%;
    background-color: yellow;
  }
  .top .number .z {
    z-index: 1;
  }
  .logo {
    margin-left: 12rem;
  }
  nav {
    display: flex;
    flex-basis: 33%;
    align-items: center;
    border: 1px solid white;
    margin-left: 2rem;
    border-radius: 5px;
  }
  nav .link {
    margin-left: 1rem;
    font-size: 1.6rem;
    color: #F0FFFF;
  }
  nav .link:hover {
    font-size: 1.5rem;
    letter-spacing: 0.1ex;
    color: white;
    font-weight: 600;
  }
  nav ul {
    display: flex;
    width: 100%;
    gap: 2rem;
  }
  nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  nav .material-icons {
    color: red;
    font-size: 3.5rem;
    margin-left: 2rem;
    text-shadow: -3px -3px #000, -3px -3px #000, -3px -3px #000, -3px -3px #000;
    transition: 0.5s;
  }
  nav .material-icons:hover {
    filter: brightness(70%);
  }
  .site-container {
    max-width: 1324px;
    margin: 0 auto;
  }
  .top-center {
    width: 65%;
  }
  .bottom-center {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: start;
  }
  .bottom-center .image-hover:hover {
    box-shadow: 0 0 15px black;
    border-radius: 5px;
    cursor: pointer;
  }
  .bottom-center .center-center {
    margin-top: 0;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .bottom-center .center-right img {
    margin-top: 0;
  }
  .center {
    height: 20vh;
  }
  .center div {
    width: 100%;
  }
  .cars {
    margin: 0 auto;
    width: 100%;
  }
  .container:hover .car-info {
    opacity: 1;
  }
  .gallery {
    display: flex;
    flex-direction: row;
  }
  .car-info {
    opacity: 0;
  }
  .left-c {
    width: 50%;
  }
  .right-c {
    width: 50%;
  }
  .contact-info {
    padding-left: 17rem;
  }
}
@media screen and (max-width: 1500px) {
  nav {
    flex-basis: 50%;
  }
  .site-container {
    max-width: 1124px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1135px) {
  nav {
    flex-basis: 55%;
  }
  .logo {
    margin-left: 3rem;
  }
  .top .number {
    margin-right: 3rem;
  }
  .top-center {
    width: 80%;
  }
  .site-container {
    max-width: 824px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
