@use 'reset';
*, *::after, *::before {
    box-sizing: border-box;
}
html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}
header {
    background: url('../assets/img/bg_top.jpg') center/cover fixed;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    h1 {
        z-index: 1;
        text-transform: uppercase;
        font-size: 4rem;
        flex-basis: 15%;
        text-align: center;
        line-height: 150%;
        letter-spacing: 0.3ex;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
    }
}
.top{
    display: flex;
    position: absolute;
    top: 2.5rem;
    left: 0;
    z-index: 1;
    width: 100%;
    .number {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 138px;
        position: absolute;
        right: 0;
        top: 0.2rem;
        flex-basis: 33%;
        font-size: 1.6rem;
        font-weight: bold;
        color: #000;
        background-color: white;
        margin-right: 1rem;
        border: 1px solid white;
        border-radius: 5px;
        cursor: pointer;
        transition: .7s;
        &::after {
            content: '';
            width: 5%;
            height: 10%;
            position: absolute;
            background-color: yellow;
            right: 0;
            bottom: 0;
            transition: .5s;
        }
    }
}
.logo {
    flex-basis: 33%;
    margin-left: 1rem;
    padding-right: 2rem;
    border-right: 1px solid white;
}
nav {
    display: none;
    .link {
        transition: 0.5s;
        vertical-align: 10px;
    }
}
.site-container {
    max-width: 90%;
}
.top-center {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    padding-top: 6rem;
}
.bottom-center {
    padding-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    .center-left {
        width: 90%;
        img {
            border: 5px solid black;
            border-radius: 3px;
            width: 100%;
            transition: .5s;
        }
        h2 {
            font-size: 2.5rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
        span {
            font-size: 1.6rem;
        }
    }
    .center-center{
        width: 90%;
        position: relative;
        margin-top: 5rem;
        .stripe {
            border: 8px solid black;
            border-radius: 5px;
            position: relative;
            margin-top: 4rem;
            .material-icons {
                position: absolute;
                background-color: white;
                border: 14px solid black;
                border-radius: 5px;
                color: red;
                right: -8px;
                top: -35px;
                font-size: 3rem;
            }
        }
        h2 {
            font-size: 2.5rem;
            margin-top: 2.5rem;
            margin-bottom: 1.5rem;
        }
        span {
            font-size: 1.6rem;
        }
    }
    .center-right {
        width: 90%;
        margin-bottom: 5rem;
        img {
            border: 5px solid black;
            border-radius: 3px;
            width: 100%;
            margin-top: 5rem;
            transition: .5s;
        }
        h2 {
            font-size: 2.5rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
        span {
            font-size: 1.6rem;
        }
    }
}
.center {
    background: url('../assets/img/bg_middle.jpg') center/cover fixed;
    min-height: 250px;
    position: relative;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
    }
    div {
        padding-top: 3rem;
        position: absolute;
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1;
        color: white;
        h2 {
            font-size: 3rem;
            margin-bottom: 2.5rem;
        }
        p {
            font-size: 1.6rem;
        }
    }
}
.cars {
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
    min-height: 50vh;
    padding-bottom: 5rem;
}
h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}
.gallery {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
}
.container {
    position: relative;
    margin-bottom: 3rem;
}
.img-gallery {
    width: 100%;
    display: block;
    border: 5px solid black;
    border-radius: 5px;
}
.car-info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    font-size: 1.6rem;
    color: white;
    transition: .5s ease;
    cursor: pointer;
    span:nth-of-type(1) {
        display: block;
        padding-top: 30%;
        border: 5px solid black;
        border-radius: 6px;
        height: 90%;
        font-size: 3rem;
        }
    span:nth-of-type(2) {
        display: inline-block;
        width: 49%;
        height: 10%;
        border-right: 5px solid black;
        padding-top: 4px;
        }
    span:nth-of-type(3) {
        display: inline-block;
        width: 50%;
        height: 10%;
        }
}
.contact {
    display: flex;
    min-height: 100vh;
}
.left-c {    
    background: url("../assets/img/bg_contact.jpg") center/cover fixed;
    width: 40%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
}
// .left-c::after{
//     content: '';
//     width: 100%;
//     height: 100%;
//     display: block;
//     position: absolute;
//     background-color: rgba(0, 0, 0, .5);
// }
.blackout {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    height: 100%;
}
.right-c {    
    width: 60%;
    h2 {
        text-align: center;
        padding-top: 2rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}
.contact-info {
    font-size: 1.6rem;
    line-height: 3rem;
    z-index: 1;
    padding-left: .5rem;
    span {
        display: inline-block;
        vertical-align: -5px;
    }
    .p {
        display: inline-block;
        &-info {
            color: #abdbe3;
        }
    }
}
.form {
    margin: 0 auto;
    width: 90%;
    &__label {
        display: block;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        font-family: inherit;
    }
    &__input {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: #ede8e8;
        margin-bottom: 1.6rem;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 1.6rem;
        &:focus {
            background-color: #fef9f9;
        }
        &--text {
            width: 100%;
            min-height: 25vh;
            margin-bottom: 1.6rem;
            background-color: #ede8e8;
            border: 1px solid black;
            border-radius: 5px;
            resize: none;
            font-size: 1.6rem;
            font-family: inherit;
            &:focus {
                background-color: #fef9f9;
            }
        }
    }
    &__button {
        font-family: inherit;
        width: 100%;
        height: 40px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        background-color: black;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 1.6rem;
        cursor: pointer;
        transition-duration: .5s;
        &:hover {
            background-color: rgb(29, 29, 29);
        }
    }
}
@media screen and (min-width:900px){
    .top{
        .number {
            margin-right: 12rem;
            &:hover::after{
                width: 100%;
                height: 100%;
                background-color: yellow;
            }
            .z {
                z-index: 1;
            }
        }
    }
    .logo {
        margin-left: 12rem;
    }
    nav {
        display: flex;
        flex-basis: 33%;
        align-items: center;
        border: 1px solid white;
        margin-left: 2rem;
        border-radius: 5px;
        .link {
            margin-left: 1rem;
            font-size: 1.6rem;
            color: #F0FFFF;
            &:hover {
                font-size: 1.5rem;
                letter-spacing: 0.1ex;
                color: white;
                font-weight: 600;
            }
        }
        ul {
            display: flex;
            width: 100%;
            gap: 2rem;
        }
        a {
            color: white;
            text-decoration: none;
            display: block;
        }
        .material-icons {
            color: red;
            font-size: 3.5rem;
            margin-left: 2rem;
            text-shadow: -3px -3px #000, -3px -3px #000, -3px -3px #000, -3px -3px #000;
            transition: .5s;
            &:hover {
                filter: brightness(70%);
            }
        }
    }
    .site-container {
        max-width: 1324px;
        margin: 0 auto
    }
    .top-center {
        width: 65%;
    }
    .bottom-center {
        margin-top: 4rem;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        align-items: start;
        .image-hover:hover {
            box-shadow: 0 0 15px black;
            border-radius: 5px;
            cursor: pointer;
        }
        .center-center{
            margin-top: 0;
            margin-left: 3rem;
            margin-right: 3rem;
        }
        .center-right {
            img {
                margin-top: 0;
            }
    }
}
    .center {
        height: 20vh;
        div {
            width: 100%;
        }
    }
    .cars {
        margin: 0 auto;
        width: 100%;
    }
    .container:hover .car-info{
        opacity: 1;
    }
    .gallery {
        display: flex;
        flex-direction: row;
    }
    .car-info {
        opacity: 0;
    }
    .left-c {
        width: 50%;
    }
    .right-c {
        width: 50%;
    }
    .contact-info {
        padding-left: 17rem;
    }
}
@media screen and (max-width:1500px){
    nav {
        flex-basis: 50%;
    }
    .site-container {
        max-width: 1124px;
        margin: 0 auto
    }
}
@media screen and (max-width:1135px){
    nav {
        flex-basis: 55%;
    }
    .logo {
        margin-left: 3rem;
    }
    .top {
        .number {
            margin-right: 3rem;
        }
    }
    .top-center {
        width: 80%;
    }
    .site-container {
        max-width: 824px;
        margin: 0 auto
    }
}